.colorBarUEFA{
    height: 250%;
    width: 2%;
    background-color: blueviolet;
    padding-top: 3%;
    padding-bottom: 3%;
}

.colorBar{
    height: 250%;
    width: 2%;
    background-color: black;
    padding-top: 3%;
    padding-bottom: 3%;
}

.colorBarEuropa{
    height: 250%;
    width: 2%;
    background-color: orange;
    padding-top: 3%;
    padding-bottom: 3%;
}

.colorBarRelegation{
    height: 250%;
    width: 2%;
    background-color: red;
    padding-top: 3%;
    padding-bottom: 3%;
}